html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  font-size: 100%;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  min-height: 100%;
  line-height: 1.4;
  font-family:
    Segoe UI,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  /*  font-family: Arial, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

:root {
  --color-accent: #7c6af7;
  --accent-light: #f2999a;
  --accent-heavy: #b20002;
  --white: #fafafa;
  --gray: rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

#root {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem 2rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.hflex {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.vflex {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.vflexCenter {
  padding: 2px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /*gap: 4px;*/
}

.focusDay {
  background: var(--color-accent);
  color: var(--white);
}

.today {
  border: 3px solid var(--color-accent);
}

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

.dotComplete {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.line {
  height: 8px;
  border-radius: 4px;
}

.weekLine {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 4px;
  min-width: 0;
  overflow: hidden;
  /*max-width: 1;*/
  /*flex: 1 0  auto;*/
}

.weekLineTitle {
  flex: 0 1 auto;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: "100px";
  /*width: ;*/
}

.agendaCardTitle {
  font-size: 24px;
  font-weight: 600;
}

.agendaCardButton {
  padding: 0.4rem 0.2rem !important;
  /*  &::after {
    content: none !important;
    display: none !important;
  }*/
}

.agendaCardButton:after,
summary::after {
  content: none !important;
  display: none !important;
  border: 1px solid red;
  /*width: 64px;*/
}

button:after {
  content: none;
}

.overview {
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100wv - 20px);
  /*overflow: hidden;*/
}

.changeViewButton {
  border: none;
  align-self: flex-start;
}

/*calendar shit*/

.calendar-grid {
  display: grid;
  /* Create 7 columns for the days of the week */
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #eee;
  border-top: none;
  gap: 0px;
  margin: 15px 0;
}

.day-header {
  /*border: 1px solid #eee;*/
  border: none;
  text-align: right;
  padding: 10px 5px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #e0e0e0;
}
.calendar-cell {
  border: 1px solid #eee;
  padding: 10px 5px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
  /*background-color: #f9f9f9;*/
}

/* Style for empty cells used for alignment */
.empty-leading {
  /*background-color: #f0f0f0;*/
  border: 1px solid #eee;
  color: "#ccc" !important;
}

/* Style for the actual day number */
.calendar-cell:not(.empty-leading) {
  cursor: pointer;
  background-color: #fff;
}

.monthDayTitle {
  font-size: 10px;
  align-self: flex-end;
}
